Makefile
MANIFEST
MANIFEST.bak
META.yml
Makefile
Makefile.old
inc/
blib/
pm_to_blib
*~
examples/twitter.yml

.DS_Store
*~.nib
*.swp
*~
.sd
.sass-cache
.livereload
# Mac OS X
.DS_Store

# Other source repository
.hg
.svn

# automatic backup files
*~.nib
*.swp
*~

.sd
.sass-cache
.livereload

cover_db
